<main class="container text-center">

	<header id="header" class="row align-items-center">
		<article class="col">
				<img src="assets/img/acronize-logo-white.svg">
		</article>
	</header>

	<section class="row">
		<article class="col"  id="applications">

			<main class="container">
				<section class="row">
					<article class="col-6">
						<div>
								<img src="assets/img/TMS.png">
								<p>TMS</p>
						</div>
					</article>
					<article class="col-6">
							<div>
						<img src="assets/img/HRS.png">
						<p>HRS</p>

						</div>
					</article>
				</section>
				<section class="row">
					<article class="col-6">
							<div>
						<img src="assets/img/WMS.png">
						<p>WMS</p>

						</div>
					</article>
					<article class="col-6">
						<div>
						<img src="assets/img/ERP.png">
						<p>ERP</p>

					</div>
					</article>
				</section>
			</main>

		</article>
	</section>

</main>