$header-height: 3.75rem;
$color-primary: #009158;
$color-primary: #009755;
$border-radius: 25px;
$box-shadow: 0 0.25rem 1rem 0 rgba(#000, 0.075),
  0 0.125rem 0.5rem 0 rgba(#000, 0.125);

body {
  text-align: center;
  font: 1rem/1.25 Ubuntu, serif;
}

#header {
  background: #009755;
  height: $header-height;
}

#applications {
  height: calc(100vh - #{$header-height});
  align-items: center;
  display: flex;
  .row > * {
    padding: 0;
    div {
      color: #fff;
      background: $color-primary;
      border-radius: $border-radius;
      margin: 1rem;
      img {
        width: 100%;
        padding: 1rem;
      }
      p {
        padding-bottom: 1rem;
      }
    }
  }
}
